<p id="notice"><%= notice %></p>

<h1>Car Maintenance Tips</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maintenances.each do |maintenance| %>
      <tr>
        <td><%= image_tag(maintenance.image(:medium)) %></td>
        <td><%= maintenance.title %></td>
        <td><%= maintenance.description %></td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maintenance', new_maintenance_path %>
