<p id="notice"><%= notice %></p>

<% form_tag maintenances_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<h1 class='car-maintenance-title'>Car Maintenance Tips</h1>
  <div>
    <% @maintenances.each do |maintenance| %>
      <h3><%= maintenance.title %></h3>
        <% if maintenance.image.present? %>
          <p class='image-format'><%= image_tag(maintenance.image)%></p>
        <% end %>
      <p><%= maintenance.description %></p>
    <% end %><br><br><br>
  </div>

    <br>




