<%= simple_form_for(@location) do |f| %>

<h1>Enter Your Information</h1>


  <div class="form-inputs width-height">
    <%= f.input :zip_code %>
    <%= f.association :user %>
    <%= f.label 'Radius' %>
    <%= f.select :distance, [[1], [5], [10], [20]] %>
  </div>

  <br>

  <div class="form-actions">
    <%= f.button :submit  %>
  </div>
<% end %>

