<p>
  <strong>Zip code:</strong>
  <%= @location.zip_code %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong>User:</strong>
  <%= @location.user_id %>
</p>

<%= image_tag @map_url %>

<br>
<br>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>

<br>


