<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class='row'>
    <div class='col-md-12'>
      <div class="center">
        <img src="https://www.freelogoservices.com/checkoutimagev2/0/0/0/aHR0cDovL3d3dy5mcmVlbG9nb3NlcnZpY2VzLmNvbS9hcGkvbWFpbi9pbWFnZXMvMWorb2psMUtPTWtYOVd5b2ZCZTQzRDZraWZlRHJoNUdtaDNia21BeUszVWMrQTVva2lZc2ouLi5WcTlmbz0%3D" alt="Gas Station Finder Logo">
      </div>
    </div>
  </div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Gas Station Finder</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'HOME', root_path %></li>
        <li><%= link_to 'SEARCH GAS LOCATIONS', new_location_path %></li>
        <li><%= link_to 'CAR-MAINTENANCE TIPS' %>
        <li><%= link_to 'BLOG' %></li>
        <li><a href="/users/sign_in/">SIGN-IN</a></li>
        <li><%= link_to 'SIGN-UP', new_user_registration_path(@user) %></li>
        <li><%= link_to 'SIGN-OUT', destroy_user_session_path(@user), method: :delete %></li>
      </ul>
    </div>
  </div>
</nav>

  <div class="container">
    <div class='row'>
      <div class='col-md-12'>

     <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

        <%= yield %>

      </div>
    </div>
  </div>

</body>
</html>
