<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--
<div class='nav-format'>
  <div class='row'>
    <div class='col-md-12'>
      <%= link_to 'USERS', users_path %> |
      <%= link_to 'SEARCH GAS LOCATIONS', new_location_path %> |
      <%= link_to 'SIGN-UP', new_user_registration_path(@user) %>
    </div>
  </div>
</div> -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class='nav navbar-nav'>
        <li class='gas-station-finder-height'><%= link_to 'Gas Station Finder', root_path %></li>
      </ul>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'HOME', root_path %></li>
        <li><%= link_to 'USERS', users_path %></li>
        <li><%= link_to 'SEARCH GAS LOCATIONS', new_location_path %></li>
        <li><%= link_to 'SIGN-UP', new_user_registration_path(@user) %></li>
      </ul>
    </div>
  </div>
</nav>



<!-- <div class='nav-format'>
  <div class='row'>
    <div class='col-md-12'>
      <img src="http://www.electronicproducts.com/uploadedImages/Computer_Systems/Standalone_Mobile/Gas%20station.jpg" class='img-rounded' alt="Gas Station Image" style="width:900px;height:500px">
    </div>
  </div>
</div> -->



  <div class="container">
    <div class='row'>
      <div class='col-md-12'>

     <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

        <%= yield %>

      </div>
    </div>
  </div>

</body>
</html>
