<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='nav-format'>
  <div class='row'>
    <div class='col-md-12'>
      <%= link_to 'USERS', users_path %> |
      <%= link_to 'SEARCH GAS LOCATIONS', locations_path %>
    </div>
  </div>
</div>

  <div class="container"></div>
    <div class='row'>
      <div class='col-md-12'>

     <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

        <%= yield %>

      </div>
    </div>
  </div>

</body>
</html>
