<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Gas Station Finder</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'HOME', root_path %></li>
        <li><%= link_to 'SEARCH GAS LOCATIONS', new_location_path %></li>
        <li><%= link_to 'CAR-MAINTENANCE TIPS' %>
        <li><%= link_to 'BLOG' %></li>
        <li><%= link_to 'SIGN-UP', new_user_registration_path(@user) %></li>
        <li><%= link_to 'SIGN-OUT', destroy_user_session_path(@user), method: :delete %></li>
      </ul>
    </div>
  </div>
</nav>

  <div class="container">
    <div class='row'>
      <div class='col-md-12'>

     <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

        <%= yield %>

      </div>
    </div>
  </div>

</body>
</html>
